* {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
}

figure {
  width: 240px;

  blockquote {
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #eeeeee;
    padding: 15px;
  }

  figcaption {
    padding: 0 15px;

    cite {
      color: green;
    }
  }
}




